body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control:focus {
  outline: none;
	box-shadow: none;
}

.comment-container{
  width:318px;
}
.comment-container .form-control{
  border-radius: 0;
}
.form{
  padding: 1.5rem;
  background:#efefef;
}

::placeholder{
 color: #ccc !important;
}

.btn-submit{
  background:#4aabd9;
  color:white;
}
.gravatar-popup{
  top:0;
  right:0;
  width:80%;
  height:100%;
  background:rgba(0, 0, 0, 0.80);
  border-radius:4px;
  color:white;
  z-index: 1;
  font-size: 14px;
  padding: 4px 7px;
}

.commenter-email{
  font-size: 0.9rem;
  opacity: 0.87;
}
.msg{
  color:#858585;
  font-weight: 100;
}
